<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>
        <span *ngIf="currentShoe.id; else elseBlock"></span>
        <ng-template #elseBlock>Select A Shoe</ng-template>
      </h1>
    </mat-card-title>
  </mat-card-header>

  <form [formGroup]="form" (submit)="saved.emit(currentShoe)">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input
        matInput
        placeholder="Title"
        formControlName="title"
        type="text"
        name="title"
        />
        <mat-error *ngIf="form.get('title')">Required Field</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
        matInput
        placeholder="Details"
        formControlName="details"
        type="text"
        name="details"
        />
        <mat-error *ngIf="form.get('details')">Required Field</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
        matInput
        placeholder="Cool Level"
        formControlName="coolLevel"
        type="text"
        name="coolLevel"
        />
        <mat-error *ngIf="form.get('coolLevel')">Required Field</mat-error>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button type="submit" [disabled]="form.invalid" mat-button color="primary">{{currentShoe.id ? 'Save' : 'Create'}}</button>
      <button type="button" mat-button (click)="cancelled.emit(currentShoe)">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
